{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<head>
    {% block title %}
    <title>Login | E-Shopper</title>
	{% endblock %}
</head><!--/head-->

<body>
	{% block content %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						{% if message %}<h5 id="login-error-message">{{message}}</h5>{% endif %}
						<form action="{% url 'accounts:login' %}" method="post">
							{% csrf_token %}
							{{form1|crispy}}
							<span>
								<input type="checkbox" class="checkbox" name="check" value="check"> 
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="{% url 'accounts:register' %}" class="" method='post'>
							{% csrf_token %}
							{{form2|crispy}}
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	{% endblock %}
</body>