{% extends 'base/base.html' %}
<head>
    {% block title %}
    <title>Shop | E-Shopper</title>
	{% endblock %}
</head><!--/head-->

<body>
	{% block content %}
	
	<section>
		<div class="container">
			<div class="row">
				{% include 'common/sidebar.html' %}
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">{{sub_cat_obj.sub_category}}</h2>
						{% for product in products %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{product.main_image.url}}" alt="" />
										<h2>₹{{product.sell_price}}</h2>
										<strike><p>MRP: ₹{{product.mrp}}</p></strike>
										<p>{{product.title}}</p>
										<a href="#" class="btn btn-default add-to-cart">Details</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>₹{{product.sell_price}}</h2>
											<strike><p>MRP: ₹{{product.mrp}}</p></strike>
											<p>{{product.s_desc}}</p>
											<a href="{% url 'home:productDetails' product.slug product.prod_id %}" class="btn btn-default add-to-cart">Details</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
					</div><!--features_items-->
					<!--Pagination-->
					<div class="Page">
						{% if page.has_other_pages %}
						<ul class="pagination">
							{% if page.has_previous %}
							<li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
							{% else %}
							<li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in page.paginator.page_range %}
							{% if page.number == i %}
								<li class="active"><span>{{ i }}</span></li>
							{% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
							{% endfor %}
							{% if page.has_next %}
							<li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
							{% else %}
							<li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						</ul>
						{% endif %}
					</div><!--Pagination-->
				</div>
			</div>
		</div>
	</section>
    {% endblock %}
</body>
</html>